################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/OcelotApiGw/v16/TestStore/0
/.vs/OcelotApiGw/v16/Server/sqlite3
/obj
